[Unit]
Description={{ app_service_name }}
After=network.target

[Service]
Type=simple
User={{ app_service_user }}
WorkingDirectory={{ app_install_dir }}
ExecStart={{ app_install_dir }}/.venv/bin/python -m app
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
